.container-fluid {
  background-color: rgb(93, 158, 250);
  height: 100vh;
  display: block;
}
.box {
  display: flex;
  justify-content: center;
}
#container {
  width: 35vw;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 55px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.432) 0px 54px 55px 43px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px 22px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px 31px,
    rgba(0, 0, 0, 0.17) 0px 12px 27px 26px,
    rgba(0, 0, 0, 0.09) 0px -3px 11px 15px;
}
.age {
  background-color: white;
  border: solid 1px white;
  border-radius: 25px;
}
.sex {
  background-color: white;
  border: solid 1px white;
  border-radius: 25px;
}
.bmiBtn {
  background-color: rgb(93, 158, 250);
  border: rgb(93, 158, 250) solid 1px;
  border-radius: 5px;
  margin: auto;
}
#answer {
  background-color: white;
  border: solid 1px white;
  border-radius: 25px;
  margin: 5px 0px;
}
.styleBox {
  background-color: whitesmoke;
}
